@import url('https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT');

body {
  font-family: 'Cabin', sans-serif;
  color: #34495E;
}

p {
  font-family: 'Old Standard', serif;
  font-size: 1.1em;
  line-height: 1.5;
}

.post-header {
  color: #fff;
}
